:root {
  --background: #FFFFFF;  /* White */
  --foreground: #3E3E3E;  /* Dark gray for text */
  --primary: #347928;      /* Dark green for primary accent */
  --secondary: #FCCD2A;    /* Yellow for secondary accents */
  --secondary-hover: #E6BC27;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  overflow-y: auto;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  color: var(--foreground);
  background-color: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: var(--primary);
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
